* {
  box-sizing: border-box;
}

body {
  padding: 0;
  background: #000;
  color: whitesmoke;
  font-family: 'Baloo 2', cursive;
  padding: 4px;
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: rgba(69, 69, 69, 0.2);
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(53, 73, 125, 0.5);
  border-radius: 5px;
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(53, 73, 125, 0.7);
}

/* Customize the scrollbar width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb:horizontal:vertical {
  background-color: transparent; /* Set the background color to transparent */
}

.container {
  background-color: #171717;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.section-path {
  background-color: rgba(255, 20, 20, 0.3);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: rgb(192, 185, 185);
  text-align: start;
  font-style: italic;
}

.section-heading {
  background-color: rgba(69, 69, 69, 0.35);
  width: 100%;
  padding: 0;
  border-radius: 10px;
  margin: 20px 0;
  text-align: center;
}

.section {
  background-color: rgba(69, 69, 69, 0.35);
  padding: 10px 30px;
  border-radius: 10px;
}

.section pre {
  display: flex;
  justify-content: flex-start;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
}

.section pre code {
  display: inline-block;
  padding: 0;
  margin: 0;
  white-space: pre-line;
  font-size: 12px;
}

.section-width {
  width: 80vw;
  margin: 10px auto;
}

.section .pair{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  min-width: 70vw;
  justify-content: space-between;
  margin: 10px auto;
}
.section .pair .key{
    margin-right: 10px;
    padding: 10px;
    overflow: auto;
    max-width: 30vw;

}
.section .pair .value{
    background-color: rgba(69, 69, 69, 0.35);
    margin-left: 10px;
    min-width: 500px;
    padding: 10px 20px;
    border-radius: 10px;
    max-height: 70px;
    overflow: auto;
    max-width: 30vw;

}

.section .heading{
  font-size: x-large;
  padding: 10px 0px 10px 40px;
  color: rgb(247, 140, 140);
}



@media screen and (max-width: 810px) {
  .section .pair .value{
    min-width: 300px;
  }
}

@media screen and (max-width: 560px) {
  .section .pair .value{
    min-width: 200px;
  }
}

